version: '3.8'

services:
  server:
    build: .
    environment:
      - PORT=8000
      - ALLOWED_ORIGIN=http://localhost:3000
    ports:
      - '8000:8000'
    networks:
      - app-network

networks:
  app-network:
    driver: bridge
