version: '3.8'

services:
  redis:
    image: redis:alpine
    ports:
      - '6379:6379'
    networks:
      - app-network

  server-1:
    build: .
    environment:
      - PORT=8000
      - REDIS_URL=redis://redis:6379
      - ALLOWED_ORIGIN=http://localhost:3000
    ports:
      - '8001:8000'
    depends_on:
      - redis
    networks:
      - app-network

  server-2:
    build: .
    environment:
      - PORT=8000
      - REDIS_URL=redis://redis:6379
      - ALLOWED_ORIGIN=http://localhost:3000
    ports:
      - '8002:8000'
    depends_on:
      - redis
    networks:
      - app-network

networks:
  app-network:
    driver: bridge
