<!DOCTYPE html>
<html>
  <head>
    <title>Cheese.io</title>
    <link rel="icon" type="image/png" href="../favicon.ico">
    <style>
      html {
        height: 100%;
      }
      body {
        margin: 0;
        padding: 0;
        width: 100%;
        height: 100%;
        color: #666666;
      }
    </style>
  </head>
  <body>
    <h1>Cheese.io</h1>

    <div>
      <h2>Enter a nickname!</h2>
      <form action="play" method="post">
        <input type="text" placeholder="Nickname" name="nickName" required />
        <button>Play!</button>
      </form>
    </div>

  </body>
</html>
