<!DOCTYPE html>
<html>
  <head>
    <title>Cheezy.io</title>
    <link rel="icon" type="image/png" href="../js/favicon.ico">
    <!-- Compiled and minified CSS -->

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">

    <script
      src="https://code.jquery.com/jquery-3.3.1.min.js"
      integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
      crossorigin="anonymous"></script>

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>
    <!-- <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js" integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU=" crossorigin="anonymous"></script> -->
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="col s12">
          <h2> Let's Get Cheezy!</h2>
          <div class="card">
            <div class="card-content">
              <div class="card-tabs">
                <ul class="tabs tabs-fixed-width">
                  <li class="tab"><a class="active" href="#register">Register</a></li>
                  <li class="tab"><a href="#login">Login</a></li>
                </ul>
              </div>
              <div id="register" class="card-content">
                <form action="game" method="POST">
                  <div class="row">
                    <div class="input-field col s12 m6 l6">
                      <input id="first_name" name="firstName" type="text" class="validate">
                      <label for="first_name">First Name</label>
                    </div>
                    <div class="input-field col s12 m6 l6">
                      <input id="last_name" name="lastName" type="text" class="validate">
                      <label for="last_name">Last Name</label>
                    </div>
                  </div>
                  <div class="row">
                    <div class="input-field col s12">
                      <input id="username" name="username" type="text" class="validate">
                      <label for="username">Username</label>
                    </div>
                  </div>
                  <div class="row">
                    <div class="input-field col s12">
                      <input id="password" name="password" type="password" class="validate">
                      <label for="password">Password</label>
                    </div>
                  </div>
                  <div class="hide">
                    <input name="t" type="text" value="reg">
                  </div>
                  <div class="card-action right-align">
                    <button class="btn waves-effect waves-light" type="submit">
                      Register
                    </button>
                  </div>
                </form>
              </div>
              <div id="login" class="card-content">
                <form action="game" method="POST">
                  <div class="row">
                    <div class="input-field col s12 m6 l6">
                      <input id="l_username" type="text" name="username" class="validate">
                      <label for="l_username">Username</label>
                    </div>
                    <div class="input-field col s12 m6 l6">
                      <input id="l_password" type="password" name="password" class="validate">
                      <label for="l_password">Password</label>
                    </div>
                  </div>
                  <div class="hide">
                    <input name="t" type="text" value="log">
                  </div>
                  <div class="card-action right-align">
                    <button class="btn waves-effect waves-light" type="submit">
                      Login
                    </button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script>
      $(document).ready(function(){
        $('.tabs').tabs();
      });

      //When the user tries to register run this function
      //TODO comment
      // $('#register-btn').on('click', function(){
      //   //Grab the values
      //   let firstName = document.getElementById('first_name').value;
      //   let lastName = document.getElementById('last_name').value;
      //   let username = document.getElementById('username').value;
      //   let password = document.getElementById('password').value;
      //   let regObj = {
      //     "fullName": firstName+" "+lastName,
      //     "username": username,
      //     "password": password
      //   };
      //   console.log("============== Register Object =============");
      //   console.log(regObj);
      //   let url = "register";
      //   $.ajax({
      //     type: "POST",
      //     url: url,
      //     data: regObj,
      //     success: function(data){
      //       console.log(data);
      //     }
      //   });
      // });
      //
      // //When the user tries to login run this function
      // //TODO comment
      // $('#login-btn').on('click', function(){
      //
      // });
      // function success(data){
      //   console.log(data);
      // }
    </script>
  </body>
</html>
