<!DOCTYPE html>
<html>
  <head>
    <title>Cheezy.io</title>
    <link rel="icon" type="image/png" href="../js/favicon.ico">
    <style>
      html {
        height: 100%;
      }
      body {
        margin: 0;
        padding: 0;
        width: 100%;
        height: 100%;
        color: #666666;
      }
    </style>
  </head>
  <body>
    <h1>Cheezy.io</h1>

    <div>
      <h2>You died!</h2>
      <form action="game" method="post">
        <input type="text" placeholder="Nickname" name="nickName" value= "<%= nickName %>" required />
        <input type="submit" name="continue" value="continue" />
        <input type="submit" name="quit" value="quit"  />
      </form>
    </div>
  </body>
</html>
