@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #1a1a2e;
  --foreground: #ededed;
}

body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  background: var(--background);
  color: var(--foreground);
}
